<nz-form-item>
  <nz-form-label [nzSm]="config.labelSize" [nzXs]="24">
    <label [attr.for]="config.name" nz-form-item-required>{{config.label}}</label>
  </nz-form-label>
  <nz-form-control [formGroup]="formGroup" [nzSm]="config.controlSize" [nzXs]="24">
    <nz-radio-group formControlName="{{config.name}}" [(ngModel)]="model" *ngFor="let opt of config.options">
      <label nz-radio [nzValue]="opt" >
        <span>{{opt.label}}</span>
      </label>
    </nz-radio-group>
  </nz-form-control>
</nz-form-item>
