
<nz-steps [nzCurrent]="_current" nzSize="config.size" >
    <nz-step
    *ngFor="let step of config.steps"
    [nzTitle]="step.title" 
    [nzDescription]="step.desc"
    [nzIcon]="step.icon"
    >
    </nz-step>   
  </nz-steps>
<div class="steps-content">
  <cn-component-resolver [config]="stepConfig" *ngFor="let stepConfig of viewCfg"></cn-component-resolver>
</div>
<div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="_current > 0">
      <span>上一步</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="_current < 2">
      <span>下一步</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="_current === 2">
      <span>完成</span>
    </button>
  </div>