<nz-form-label [nzSpan]="config.labelSize" [nzRequired]="config.isRequired">
  {{config.label}}
</nz-form-label>
  <nz-form-control [formGroup]="formGroup" [nzSpan]="config.controlSize">
    <nz-date-picker
     [(ngModel)]="date"
     formControlName="{{config.name}}"
     nzShowTime="config.showTime"
     [nzFormat]="config.format"
     [nzShowToday]="config.showToday"
     [nzAllowClear]="true"
     ></nz-date-picker>
    <nz-form-explain *ngIf="formGroup.get(config.name).dirty && formGroup.get(config.name).errors || formGroup.get(config.name).pending ">
        <ng-container *ngFor="let valid of config.validations">
              <span style="margin-top:3px" *ngIf="formGroup.get(config.name).hasError(valid.validator.toLowerCase())">{{valid.errorMessage}}</span>
          </ng-container>
      </nz-form-explain>
  </nz-form-control>