
<page-header [title]=""></page-header>
<nz-card>
    <div class = "table-operations">
        <button nz-button  (click)="refresh()">刷新</button>
        <button nz-button  (click)="showModalForComponent('Add')">新增</button>
        <button nz-button  (click)="showModalForComponent('Edit')">修改</button>
        <button nz-button  (click)="delete()">删除</button>
    </div>
    <nz-table #nzTable
              [nzPageSizeOptions]="[1, 2, 3, 5, 10]"
              [nzFrontPagination]="false"
              [nzData]="_dataSet"
              nzShowSizeChanger
              [nzLoading]="_loading"
              [nzTotal]="_total"
              [(nzPageIndex)]="_current"
              (nzPageIndexChange)="refreshOrg(false)"
              [nzPageSize]="_pageSize"
              (nzPageSizeChange)="refreshOrg(true)"
              [nzBordered] = "true"
              [nzShowTotal]="totalTemplate"
              nzSize = "small" >
        <thead>
        <tr>
            <th>选择</th>
            <th>名称</th>
            <th>简称</th>
            <th>编码</th >
            <th>排序</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>

        <!--<tr *ngFor="let item of nzTable.data">-->
        <!--<td nzShowCheckbox  [(nzChecked)]="item.checked"> </td>-->
        <!--<td>{{item.Name}}</td>-->
        <!--<td >{{item.ShortName}}</td>-->
        <!--<td >{{item.Code}}</td>-->
        <!--<td >{{item.Order}}</td>-->
        <!--<td >{{item.CreateTime | date}}</td>-->
        <!--</tr>-->

        <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <ng-template ngFor let-item [ngForOf]="expandDataCache[data.Id]">
                <tr *ngIf="(item.parent && item.parent.expand)||!(item.parent)">
                    <td  [nzDisabled]="!!item.children"  nzShowCheckbox  [nzChecked]="false" (nzCheckedChange)="refChecked($event,item)">
                    <td [nzIndentSize]="item.level*20" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.Id],item,$event)"  [nzShowExpand]="!!item.children">
                        {{item.Name}}
                    </td>
                    <td >{{item.ShortName}}</td>
                    <td >{{item.Code}}</td>
                    <td >{{item.Order}}</td>
                    <td >{{item.CreateTime | date}}</td>
                </tr>
            </ng-template>
        </ng-template>
        </tbody>
        <ng-template #totalTemplate let-total let-range="range">
            {{range[0]}}-{{range[1]}} / {{total}} 条
        </ng-template>
    </nz-table>
</nz-card>
